body {
   font-family: Arial, sans-serif;
   text-align: center;
}

.carousel-container {
   position: relative;
   width: 80%;
   height: 100%;
   margin: 0 auto;
   overflow: hidden;
}

.carousel {
   width: 100%;
   height: 100%;
   display: flex;
   transition: transform 0.3s ease-in-out;
   /* translating the carousel by JS in X*/
}

.carousel>div {
   min-width: 100%;
   /* max-height:-> set in jsx, passed from the parent of My_custom_carousel */
   box-sizing: border-box;
   /* border: 1px solid black; */
}

.carousel>div>img {
   width: 100%;
   height: 100%;
   object-fit: contain;
}

.prev-button,
.next-button {
   position: absolute;
   top: 50%;
   transform: translateY(-50%);
   /* color: -> set in jsx, passed from the parent of My_custom_carousel */
   background-color: transparent;
   border: none;
   cursor: pointer;
   font-size: 1.5rem;
   font-weight: 700;
}

.prev-button {
   left: 0px;
}

.next-button {
   right: 0px;
}

.dots {
   display: flex;
   justify-content: center;
   margin-top: 10px;
}

.dot {
   width: 10px;
   height: 10px;
   border-radius: 50%;
   border: 1px solid rgb(51, 51, 51);
   background-color: rgb(51, 51, 51);
   margin: 0 5px;
   cursor: pointer;
}

.dot.active {
   background-color: #fff;
}

@media screen and (max-width: 700px) {
   .section {
      transform: scale(1);
   }
}