.alert_parent {
   display: flex;
   justify-content: center;
   align-items: center;
   z-index: 100;
}

.alert_box {
   position: fixed;
   bottom: 2vmax;
   border: 1px solid red;
   border-radius: 1.2vmax;
   padding: 1.8vmax;
}